<!DOCTYPE html>
<html lang="en">
<head>
  <title>SB Mall</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="container">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">SB</a>

  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        쇼핑하기
      </a>
      <div class="dropdown-menu">
        <a href="/typeShopping" th:href="@{/typeShopping}" class="dropdown-item">유형별 쇼핑</a>
      </div>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        고객센터
      </a>
      <div class="dropdown-menu">
        <a href="/toBoard1" th:href="@{/toBoard1}" class="dropdown-item">환불 요청</a>
        <a href="/toBoard2" th:href="@{/toBoard2}" class="dropdown-item">1:1 문의</a>
        <a href="/toBoard3" th:href="@{/toBoard3}" class="dropdown-item">버그 사항 제보</a>
      </div>
    </li>
  </ul>
</nav>
<br>
	<br/>
	<h1>1:1 문의 게시판</h1>
	<br/><br/>
<div class="with:80%">
	    <table class="table table-hover">
	        <thead>
	        <tr>
	            <th>목록</th>
	            <th>작성자</th>
	            <th>제목</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr th:each="board : ${boards}">
	            <th scope="row" th:text="${board.id}">01</th>
	            <td th:text="${board.userId}">100010001</td>
	            <td th:text="${board.boardTitle}"></td>
	            <td><a th:if ="${session.SLEVEL == 2}" th:href="@{/board2Read(id=${board.id})}">읽기</a></td>
	        </tr>
	        </tbody>
	    </table>
	</div>
	<div th:unless ="${session.SID == null}" style="text-align: right;">
			<label >ID : [[${session.SID}]] | [[${session.SNAME}]]</label>
			<a th:unless ="${session.SLEVEL == 2}" th:href="@{/toBoard2Add}" class="btn btn-info">작성하기</a>
		</div>


	<div class="jumbotron text-center" style="margin-bottom:0">
 			Tel: 02-123-4567 Address: 경기도 파주 123-456 대표: 김철수
	</div>
</body>
</html>